{% extends 'base.html.twig' %}

{% block body %}

<h1>Bienvenue sur SchoolPrepar</h1>

<p>
Plateforme d’orientation scolaire et professionnelle.
</p>

<a href="/filieres" class="btn btn-primary">Explorer les filières</a>

{% endblock %}