<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
</head>
<body>

{% include 'admin/partials/nav.html.twig' %}


<div>
    {% block body %}{% endblock %}
</div>

{% include 'admin/partials/footer.html.twig' %}

</body>
</html> 